<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Alpha Hunter</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>

    <%- include('partials/navbar', { navbar: navbar }) %>  
    <main>
        <h2>Login</h2>

        <% if (message) { %>
            <p class="flash-error"><%= message %></p> 
        <% } %>
    
        <form action="/login" method="post">
            <input type="text" name="username" placeholder="Username" required>
            <input type="password" name="password" placeholder="Password" required>
            <button type="submit">Login</button>
        </form>
    
        <a href="/signup">Not a user yet? Sign up</a> 
    </main>
    <%- include('partials/footer') %>
</body>
</html>
